---
layout: blog
---
<div class="about-message">
  <p>This is a blog for my digiphoto class. I'll be posting pictures here throughout the year. <a href="/about">Learn More.</p>
</div>
<div class="articles">
  {% for post in paginator.posts %}
    <div class="page-group">
      <h3>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h3>
      <p class="post-about">
        {{ post.author }},
        <time datetime="{{ post.created_at | date: "%Y-%m-%dT%H:%M:%S%z"  }}">{{ post.created_at | date: "%e %b %Y" }}</time>
      </p>
      <div class="post-content">
        {{ post.content }}
      </div><!-- /.post-content -->
    </div><!-- /.page-group -->
  {% endfor %}
  {% if paginator.next_page and paginator.previous_page %}
    <div class="post-pagination page-group">
      {% if paginator.next_page %}
        <div class="post-paginate-older">
          <a href="/page-{{ paginator.next_page }}" class="post-paginate-older-link">Older</a>
        </div> <!-- /.post-paginate-older -->
      {% endif %}
      {% if paginator.previous_page %}
        <div class="post-paginate-older-newer">
          {% if paginator.previous_page == 1 %}
            <a href="/" class="post-paginate-newer-link">Newer</a>
          {% else %}
            <a href="/page-{{ paginator.previous_page }}" class="post-paginate-newer-link">Newer</a>
          {% endif %}
        </div> <!-- /.post-paginate-newer -->
      {% endif %}
    </div> <!-- /.post-paginate .page-group-->
  {% endif %}
</div><!-- /.articles -->
