html {
  height: 100%;
  min-height: 100%;
}

body {
  background-image: url("/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 90px;
}

.navbar-default {
  border-radius: 0px;
  min-height: 75px;
  background: rgba(236, 240, 240, .95);
}

.navbar-toggle {
  margin-top: 20px;
}

.navbar-nav li a, .navbar-brand {
  line-height: 50px;
  font-size: 27px;
}

.navbar-fixed-top {
  border-width: 0 0 0px;
}

.page-group {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 75%;
  background-color: rgba(236, 240, 240, .85);
}

.about-message {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 75%;
  background-color: rgba(236, 240, 240, .85);
  font-size: 17px;
}
.page-group h3 a:link, .page-group h3 a:visited {
  color: black;
}

.post-content {
  padding-top: 10px;
}

.post-about {
  font-size: 12px;
  color: grey;
}

.active {
  background: rgba(189, 195, 199, .85);
}

.post-image {
  height:100%;
  width:100%;
  background-color: rgba(236, 240, 240);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: rgba(149, 165, 166, 0.95);
}

.dropdown-menu {
  border-radius: 0px;
  min-width: 171px;
  min-height: 75px;
  background: rgba(236, 240, 240, .95);
}

.dropdown-menu > li:hover a {
  background: rgba(149, 165, 166, 0.95);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 412px) {
  .navbar-nav li a, .navbar-brand {
    font-size: 20px;
  }
}

@media (max-width: 328px) {
  .navbar-nav li a, .navbar-brand {
    font-size: 15px;
  }
}
