<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Joshua&#39;s Digiphoto Blog by Joshua-Anderson</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <header>
      <h1>Joshua&#39;s Digiphoto Blog</h1>
      <p></p>
    </header>

    <div id="banner">
      <span id="logo"></span>

      <a href="https://github.com/Joshua-Anderson/digiphoto-blog" class="button fork"><strong>View On GitHub</strong></a>
      <div class="downloads">
        <span>Downloads:</span>
        <ul>
          <li><a href="https://github.com/Joshua-Anderson/digiphoto-blog/zipball/master" class="button">ZIP</a></li>
          <li><a href="https://github.com/Joshua-Anderson/digiphoto-blog/tarball/master" class="button">TAR</a></li>
        </ul>
      </div>
    </div><!-- end banner -->

    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
